@{
    ViewBag.Title = "Employee";
}


<script src="~/ModuleAngularJs/EmployeeClient.js"></script>
<script src="~/ModuleAngularJs/EmployeeService.js"></script>

<html>
<body ng-controller="EmployeeController" ng-app="EmployeeApp">
    <div>

        <br />

        <div data-ng-init="GetEmployee()">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-title">
                                <button type="button" class="btn btn-success" id="btnAdd" ng-click="AddClick(true)">Add</button>
                            </div>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="filterValue">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Mobile</th>
                                        <th>Phone</th>
                                        <th>Description</th>
                                        <th></th>

                                    </tr>
                                    <tr ng-repeat="emps in employees | filter: filterValue |  orderBy: 'Name '">
                                        <td>
                                            {{emps.EmpId}}
                                        </td>
                                        <td>
                                            {{emps.Name}}
                                        </td>
                                        <td>
                                            {{emps.Address}}
                                        </td>
                                        <td>
                                            {{emps.Phone}}
                                        </td>
                                        <td>
                                            {{emps.Mobile}}
                                        </td>
                                        <td>
                                            {{emps.Description}}
                                        </td>
                                        <td>
                                            <span ng-click="editClick(emps)" class="btn btn-info">Edit</span>
                                            <span ng-click="deleteClick(emps)" class="btn btn-danger">Delete</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </div>
        @Html.Partial("_CommonWindows")
    </div>
    <div class="modal fade" id="empModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="myForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="Address"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mobile</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" maxlength="12" ng-model="Mobile">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" maxlength="12" ng-model="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="Description"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btnAdd" ng-click="AddUpdateEmployee()">Save</button>
                </div>
            </div>

        </div>
    </div>
    <div class="gridStyle" ng-grid="gridOptions"></div>
</body>
@*------------------- Modal popup*@



</html>

